@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

body {
  /* background-image: url("bilde.png"); */
  width: 80%;
  margin: 0 auto;
  background-image: linear-gradient(lightyellow, white);
}
.wrapper {
  display: grid;
  grid-gap: 1em;
  margin-top: 20px;
}

.overskrift {
  border-bottom: 1px solid grey;
  text-align: center;
  font-size 50px;
}

h1 {
  font-size: 90px;
  /* color: rgb(197, 157, 240); */
  color: black;
  font-family: Amatic SC;
}

.oppskriftDiv {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  grid-auto-rows: minmax(100vh, auto)
}

button {
  border: none;
  height: 2em;
  font-size: 1em;
  display: none;
}

button:hover {
  font-weight: bold;
}

input {
  border: none;
  background: white;
  height: 2em;
  width: 100%;
  font-size: 2em;
}



.box {
  background-color: white;
  color: black;
  font-size: 24px
}

.box li {
  padding-top: 5px;
  padding-left: 10px;
}

ol {
  list-style: none;
  counter-reset: item;
}
li {
  counter-increment: item;
  margin-bottom: 5px;
}
li:before {
  margin-right: 10px;
  content: counter(item);
  background: rgba(135, 135, 135, 0.38);
  border-radius: 100%;
  color: white;
  width: 1.2em;
  text-align: center;
  display: inline-block;
  font-size: 18px;
}

li:hover {
  cursor: pointer;
}
